.btn {
  position: fixed;
  border-radius: 2px;
  right: 12px;
  width: 34px;
  font-size: 12px;
  color: var(--color-theme-bg);
  background-color: var(--color-theme-text);
  z-index: 99;
  text-align: center;
  padding: 3px 0;
  line-height: 16px;
  text-decoration: initial;
}
.btn:hover { background: #2186ff; color: #fff; }
.btn.create { bottom: 42px; }
.btn.totop { bottom: 12px; }